*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    
    .container{
        background-color: #F9F6E2;
        display: flex;
        position: relative;
    
    
    }
    .hero{
        position: absolute;
    
        top: 30%;
        left: 20%;
    
    
    
    }
        
    
    .hero h4{
    
        color: #111;
        margin-bottom: 20px;
    font-style: normal;
    font-size: larger;
    font-weight: 20px;
    line-height: normal;
    }
    
    
    .hero h2 h1{
    
        color: #111;
    margin-top: 20px;
    font-weight: 30px;
    line-height: normal;
    padding-top: 30px;
    }
    
    
    .hero span{
    
        color: #E527B2;
    font-size: 30px;
    font-weight: 80;
    line-height: normal;
    }
    
    
    .hero p{
    
        color: #111;
        position: absolute;
        margin-top: 39px;
    font-size: 20px;
    font-style: normal;
    font-weight: 50px;
    
    }
    
    .btn{
        border-radius: 8px;
    background: #E527B2;
    margin-top: 10%;
    position: relative;
    top: 30%;
    left: 70%;
    
        color: #FFF;
    text-align: center;
    font-size: 16px;
    padding: 19px;
    border: none;
    
    }
    .btn:hover{
        background-color: tomato;
    }
    
    
    
    
    .summer{position: relative;
        left: 50%;
        display: flex;
        gap: 50%;
        width: 10vh;
        
    
    }

    
    .header{
        color: #111;
    margin-bottom: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    }
    
    
    
    .card-img{
    
        border-radius: 8px;
    background: rgba(17, 17, 17, 0.05);
        
        
    }
    
    
    .card-container{

        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        
    }



  .card{ width: 320px;
         height: 320px;
         padding: 30px;
         margin: 10px;    
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    
    
    
    .card li{
        
        list-style-type: none;
        display: inline;
    }
    

    .coupon-container{
         
        width: 250px;
        height: 300px;
        background-color: white;
        
        flex-shrink: 0;
        border-radius: 8px;
        margin-top: 50px;
        margin-bottom: 80px;
        margin-left: 100px;

    }



    .input{

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 20px;
        
        

    }


    .purchase>h5{

        padding: 5px;
    }


    .input>h5{
        padding: 40px;
        color: #111;
        font-family: Work Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;    

    }
    
    

    


    .coupon{

        display: flex;
        border-radius: 8px;
        border: 1px solid whitesmoke;
        background: #FFF;
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        margin-left: 10px;
        
        
    
        
            }  

            

    span{

        color: rgba(17, 17, 17, 0.50);
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
    }



                    
    .coupon-btn{ background-color: #E527B2;
        color: #FFF;
        border: none;
        text-align: center;       
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        height: 45px;
        width: 70px;
        flex-shrink: 0;
        line-height: normal;
        border-radius: 0px 8px 8px 0px;
            }



    .coupon-btn:hover{

        background-color:tomato;
        
    }


          
    .purchase{
    
        background-color: white;
        
        color: #111;
        width: 250px;
        height: 250px;
        flex-shrink: 0;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
        padding: 15px;
        
        
    }

    

    
    .purchase-btn{
        width: 200px;
        height: 45px;
        flex-shrink: 0;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
        border-radius: 8px;
    background: #E527B2;
    color: white;
    border: none;
    
    
    }

   @media screen and (min-width:600px) and (max-width:991px) {

    
    .card-container{

        
        grid-template-columns: repeat(3,1fr);
        
    }

    

    
   } 

    main{

        display: flex;
        gap: 0px;
    }
    


    

   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
       
    
        
    
        
    
    
        
    
    
    